@import './variables';

.feed {
  margin: $base-margin;

  &__header {
    text-align: right;
    margin: $base-margin 0;

    &-button {
      margin-left: $small-margin;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
  }

  &__item {
    padding: $base-margin;
    cursor: pointer;

    &:hover {
      background: $active-color;
    }

    &-date {
      font-size: .75rem;
    }

    &-description {
      margin: $small-margin 0 0;
    }
  }
}
