@import "../../style/variables";

.search-input-container {
  position: relative;
  flex: 1;
  margin-right: $small-margin;
}

.search-input {
  color: $primary-text-color;
  border: none;
  padding: $small-margin $base-margin;
  font-size: $medium-font-size;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;

  &:active,
  &:focus {
    outline: none;
  }
}

.search-input__suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  background: $primary-color;
  color: $primary-text-color;
  font-size: $small-font-size;
  width: 100%;
  position: absolute;
  top: 100%;
  box-shadow: 0 5px 5px 0 $shadow-color;
}

.search-input__suggestion {
  cursor: pointer;
  display: block;
  padding: $small-margin;

  & > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--active,
  &:hover {
    background: $active-color;
  }
}

.search-input__suggestion-title {
  font-size: $medium-font-size;
}
